@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
@import "./imports/variables";
@import "./imports/general";
@import "./imports/index";
@import "./imports/servicios";
@import "./imports/nosotros";
@import "./imports/portfolio";
@import "./imports/contacto";

@media only screen and (min-width:768px) and (max-width:1023px){

    header{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "logo navbar";
        
        .logo{
            img{
                margin-left: 10px;
                height: auto;
            }
        }

        #navbarNav{
            justify-content: end;
            
            ul{
                li{
                    a{
                        font-size: 15px;
                        padding: 5px 5px;
                    }
                }
            }
        }
        
        .redesHeader{
            display: none;
        }
    }

    .index{
        &--header{
            #navbarNav{
                ul{
                    li{
                        padding: 0 5px;

                        a{
                            padding: 5px 10px;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    .servicios{
        .trabajos{
            &--box{
                width: 750px;

                &--servicio{
                    width: 110px;
                    height: 130px;
                    margin: 8px;
                }
            }
        }

        .info{
            &--grid{
                &--box{
                    width: 750px;

                    &--list{
                        justify-content: space-evenly;
                        width: 300px;
                        height: 250px;
                    }

                    &--picture{
                        border: 3px solid black;
                        img{
                            width: 350px;
                            height: 250px;
                        }
                    }
                }
            }
        }
    }
    

    p{
        text-align: justify;
    }

    .nosotros{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "reviews"
        "map";
    }

    .portfolio{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "first"
        "second"
        "third"
        "fourth";
    }

    .form{
        grid-template-columns: 1fr 3fr 1fr;
    }

    footer{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "redes horarios";

        .horariosFooter{
            grid-area: horarios;
            justify-content: end;
            margin-right: 25px;
        }

        .redesFooter{
            display: flex;
            grid-area: redes;
            justify-content: start;
            align-items: center;
            margin-left: 20px;

            figure{
                margin-bottom: 0;

                img{
                    height: 30px;
                    width: 30px;
                    margin: 5px;
                }
            }
        }

        .whatsappFooter{
            display: none;
        }
    }
}

@media only screen and (max-width:767px){

    header{
        height: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "navbar logo";
    
        .redesHeader{
            display: none;
        }
    
        .logo{
            align-self: center;
            justify-content: flex-end;
            align-items: flex-start;
            margin: 10px;
            height: 80px;

            img{
                height: 80px;
                width: 150px;
            }
        }

        nav{
            #navbarNav{
                ul{
                    li{
                        a{
                            font-size: 20px;
                            padding: 0 10px;
                            background-color: $themeColor;
                        }
                    }
                }
            }
        }
    }

    .index{
        background-image: url("../img/indexMobilebg.jpg");
        display: grid;
        
        &--header{
            height: auto;

            #navbarNav{
                ul{
                    li{
                        padding: 0 5px;

                        a{
                            padding: 0px 10px;
                            font-size: 20px;
                        }
                    }
                }
            }
        }

        main{
        
            h1{
                margin-top: 50px;
                font-size: 50px;
            }
        
            h2{
                font-size: 30px;
            }
        
            .italic{
                font-size: 35px;
                margin-top: 20px;
            }
        
            section{
                h3{
                    font-size: 25px;
                }
        
                .pago{
                    &--box{
                        flex-direction: column;
                        align-items: center;
                        height: 200px;
                        width: 250px;

                        div{
                            figure{
                                figcaption{
                                    width: 125px;
                                    margin-left: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .servicios{

        .p{
            font-size: 20px;
        }

        .trabajos{
            &--box{
                width: 300px;

                &--servicio{
                    width: 100px;
                    height: 130px;
                    margin: 10px;

                    figcaption{
                        font-size: 13px;
                    }
                }
            }
        }

        .info{
            &--grid{
                &--box{
                    flex-direction: column-reverse;
                    height: 500px;
                    width: 350px;
                    justify-content: space-evenly;

                    &--list{
                        justify-content: space-evenly;
                        align-items: center;
                        width: 300px;
                        height: 300px;

                        h2{
                            font-size: 25px;
                        }

                        a{
                        margin-bottom: 10px;
                        padding: 5px 20px;
                        border-radius: 25px;    
                        }
                    }

                    &--picture{
                        margin-top: 15px;
                        border: 3px solid black;

                        img{
                            width: 280px;
                            height: 180px;
                        }
                    }
                }
            }
        }

    }

    .bg{
        background-size: contain;
        background-attachment: fixed;
    }

    h1{
        font-size: 35px;
    }

    p{
        text-align: justify;
        font-size: 20px;
        margin: 25px 50px 35px;
        padding: 0;
    }

    .nosotros{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        ". reviews ."
        ". map .";

        &--column{
            &--box{
                width: 350px;
                height: auto;

                h2{
                    margin-top: 0;
                    font-size: 25px;
                }

                &--reviews{
                    figure{
                        .reviewsDesktop{
                            display: none;
                        }
                        .reviewsMobile{
                                display: block;
                                height: 150px;
                                width: 240px;
                        }
                    }

                    &--buttons{
                        flex-direction: column;
                        padding: 0 0 15px;
                        
                        a{
                            padding: 10px;
                        }
                    }
                }
                
                iframe{
                    width: 300px;
                    height: 310px;
                }
            }
        }
    }

    .portfolio{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "first"
        "second"
        "third"
        "fourth";
    
    &--carousels{
        &--style{
            width: 350px;

            h3{
                font-size: 15px;
            }
        }
    }
    
    
    }

    .form{
        grid-template-columns: 1fr 5fr 1fr;
    }

    footer{
        height: 100px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "horarios"
        "redes";

        .whatsappFooter{
            display: none;
        }

        .horariosFooter{
            grid-area: horarios;
            justify-content: center;
            margin-top: 10px;
        }

        .redesFooter{
            display: flex;
            grid-area: redes;
            justify-content: center;

            figure{
                margin-bottom: 0;
                
                img{
                    height: 30px;
                    width: 30px;
                    margin: 10px;
                }
            }
        }
    }
}
