@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

header {
  background-color: #000066;
  height: 120px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 9999;
  top: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "logo navbar redes";
}

header .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
}

header nav {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: navbar;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav #navbarNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav #navbarNav ul li {
  list-style-type: none;
  padding: 0 10px;
}

header nav #navbarNav ul li a {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  border: 1.8px solid white;
  border-radius: 30px;
  -webkit-box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
  font-family: "PT Sans Narrow", sans-serif;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header nav #navbarNav ul li a:hover {
  background-color: #000041;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header .redesHeader {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: redes;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-right: 3px;
  margin-bottom: 0;
}

header .redesHeader a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header .redesHeader a .redes {
  margin-right: 20px;
}

.thinHeader {
  height: 60px;
}

.thinHeader .logo {
  margin: 0;
}

.thinHeader nav {
  padding: 0;
  height: 60px;
}

.thinHeader nav #navbarNav ul li {
  padding: 0 5px;
}

.thinHeader nav #navbarNav ul li a {
  font-size: 20px;
  border: 1px solid white;
  border-radius: 30px;
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 0 10px;
}

.thinHeader nav #navbarNav ul li a .selected {
  background-color: #000041;
}

.thinHeader nav #navbarNav ul li a:hover {
  font-size: 25px;
}

.sub1 {
  color: white;
  font-size: 40px;
  margin-top: 20px;
  font-style: normal;
}

.sub2 {
  font-size: 35px;
  margin: 10px 0 20px;
}

h1 {
  text-align: center;
  margin-top: 30px;
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  color: white;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Bebas Neue", cursive;
  text-align: center;
  color: white;
}

footer {
  background-color: #000066;
  color: white;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14px;
  height: 60px;
  margin-top: 6px;
  margin-bottom: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "whatsappFooter horariosFooter";
}

footer .horariosFooter {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: horariosFooter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

footer .horariosFooter .divHorarios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .horariosFooter h3 {
  font-size: 18px;
  margin-bottom: 0;
}

footer .horariosFooter h4 {
  font-size: 14px;
  margin-bottom: 0;
}

footer .whatsappFooter {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: whatsappFooter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

footer .whatsappFooter h3 {
  font-size: 18px;
  margin-bottom: 0;
  margin-left: 5px;
}

footer .whatsappFooter #wp {
  margin-right: 10px;
}

footer .whatsappFooter a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer .redesFooter {
  display: none;
}

main h1 {
  margin-top: 30px;
  color: white;
  font-size: 80px;
}

main h2 {
  text-align: center;
  color: white;
  font-size: 50px;
}

main .italic {
  font-style: italic;
}

main section h3 {
  text-align: center;
  color: white;
  margin-top: 30px;
  font-size: 30px;
  font-family: "Bebas Neue", cursive;
}

main section .pagoGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: ". pagoBox .";
}

main section .pagoGrid .pagoBox {
  margin: 10px 0 15px 0;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.6);
  height: 76px;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: pagoBox;
}

main section .pagoGrid .pagoBox div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
}

main section .pagoGrid .pagoBox div figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

main section .pagoGrid .pagoBox div figure figcaption {
  margin-left: 5px;
  font-family: "PT Sans Narrow", sans-serif;
  color: white;
}

.texto {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 25px;
  margin-left: 15px;
  color: white;
  text-align: center;
}

.trabajosGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: ". trabajos .";
}

.trabajosGrid #trabajos {
  margin: 15px;
  border: 2px solid white;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: trabajos;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 900px;
}

.trabajosGrid #trabajos a {
  text-decoration: none;
  color: black;
}

.trabajosGrid #trabajos a .servicio {
  border: 2px solid white;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px;
  width: 120px;
  height: 140px;
  margin: 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.trabajosGrid #trabajos a .servicio:hover {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 1px 1px 5px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 5px 8px rgba(0, 0, 0, 0.25);
}

.trabajosGrid #trabajos a .servicio figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 120px;
}

.trabajosGrid #trabajos a .servicio figcaption {
  font-family: "Bebas Neue", cursive;
  font-size: 16px;
}

#infoServicios {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: ". info .";
}

#infoServicios .infoGrid {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: info;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  margin-bottom: 40px;
}

#infoServicios .infoGrid .infoContainer {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 20px;
  height: 350px;
  width: 900px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#infoServicios .infoGrid .infoContainer .divInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 400px;
  height: 300px;
}

#infoServicios .infoGrid .infoContainer .divInfo h2 {
  font-size: 30px;
  text-align: center;
  color: white;
}

#infoServicios .infoGrid .infoContainer .divInfo ul li {
  font-family: "PT Sans Narrow", sans-serif;
  margin-left: 20px;
  font-size: 18px;
}

#infoServicios .infoGrid .infoContainer .divInfo a {
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  padding: 5px;
  background-color: black;
  text-align: center;
  font-family: "PT Sans Narrow", sans-serif;
  text-decoration: none;
}

#infoServicios .infoGrid .infoContainer .divInfo a:hover {
  font-weight: bold;
  background-color: #000041;
}

#infoServicios .infoGrid .infoContainer figure .fotoServicios {
  border: 5px solid black;
}

.invert {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.info {
  margin: 25px 50px 35px;
  padding: 0 20px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 24px;
  text-align: center;
  color: white;
}

#nosotros {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "reviews map";
}

#nosotros .nosotrosGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#nosotros .nosotrosGrid .nosotrosColumnas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px solid white;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 38px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 500px;
  height: 350px;
}

#nosotros .nosotrosGrid .nosotrosColumnas h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
}

#nosotros .nosotrosGrid .nosotrosColumnas .googleReviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 20px;
}

#nosotros .nosotrosGrid .nosotrosColumnas .googleReviews figure {
  padding: 15px;
  margin-bottom: 0;
}

#nosotros .nosotrosGrid .nosotrosColumnas .googleReviews figure .reviewsMobile {
  display: none;
}

#nosotros .nosotrosGrid .nosotrosColumnas .googleReviews .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 30px;
}

#nosotros .nosotrosGrid .nosotrosColumnas .googleReviews .buttons a {
  text-decoration: none;
  color: white;
  margin: 10px;
  margin-bottom: 0;
  padding: 15px;
  border: 2px solid #0051ff;
  background-color: #2c6fff;
  width: 180px;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
}

#nosotros .nosotrosGrid .nosotrosColumnas .googleReviews .buttons a:hover {
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3) inset, -3px -3px 5px rgba(0, 0, 0, 0.3) inset;
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3) inset, -3px -3px 5px rgba(0, 0, 0, 0.3) inset;
}

#nosotros .nosotrosGrid .nosotrosColumnas iframe {
  border-radius: 20px;
  width: 450px;
}

#nosotros .reviews {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: reviews;
}

#nosotros .map {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: map;
}

.portfolioGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "first second" "third fourth";
}

.portfolioGrid .gridCarousels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolioGrid .gridCarousels .carouselStyle {
  border: 2px solid white;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 20px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
}

.portfolioGrid .gridCarousels .carouselStyle .carousel {
  margin: 10px 0 20px;
  width: 300px;
  height: 400px;
}

.portfolioGrid .gridCarousels .carouselStyle h3 {
  font-size: 20px;
  text-align: center;
  color: white;
}

.portfolioGrid .gridCarousels .first {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: first;
}

.portfolioGrid .gridCarousels .second {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: second;
}

.portfolioGrid .gridCarousels .third {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: third;
}

.portfolioGrid .gridCarousels .fourth {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: fourth;
}

.form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: ". form .";
}

.form article {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: form;
  background-color: rgba(255, 255, 255, 0.2);
  border: 3px solid white;
  border-radius: 15px;
  padding: 10px;
  font-family: "PT Sans Narrow", sans-serif;
  margin-bottom: 30px;
}

.form article label {
  color: white;
  font-weight: bold;
}

.index {
  background-image: url("../img/indexbg.jpg");
  background-size: cover;
  background-position: center;
}

.servicios {
  background-image: url("../img/servicesbg.jpg");
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
}

.bg {
  background-image: url("../img/cementbg.jpg");
  background-size: cover;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "logo navbar";
    height: 90px;
  }
  .redes {
    display: none;
  }
  .logo img {
    margin-left: 10px;
    height: 80px;
  }
  #navbarNav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  #navbarNav ul li a {
    font-size: 20px;
    padding: 5px 10px;
  }
  .thinHeader .mlLogo {
    height: 60px;
  }
  .trabajosGrid #trabajos a .servicio {
    width: 110px;
    height: 130px;
    margin: 8px;
  }
  .trabajosGrid #trabajos {
    width: 750px;
  }
  #infoServicios .infoGrid .infoContainer {
    width: 750px;
  }
  .infoContainer img {
    width: 350px;
    height: 250px;
  }
  #infoServicios .infoGrid .infoContainer .divInfo {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 300px;
    height: 250px;
  }
  .fotoServicios {
    border: 3px solid black;
  }
  #nosotros {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "reviews" "map";
  }
  .info {
    text-align: justify;
  }
  .portfolioGrid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: "first" "second" "third" "fourth";
  }
  .form {
    -ms-grid-columns: 1fr 3fr 1fr;
        grid-template-columns: 1fr 3fr 1fr;
  }
  footer {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "redes horarios";
  }
  footer .horariosFooter {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: horarios;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin-right: 25px;
  }
  footer .redesFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: redes;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 20px;
  }
  .redesFooter figure {
    margin-bottom: 0;
  }
  .redesFooter img {
    height: 30px;
    width: 30px;
    margin: 5px;
  }
  footer .whatsappFooter {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  header {
    height: auto;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "navbar logo";
  }
  .thinHeader {
    height: auto;
  }
  .redes {
    display: none;
  }
  .logo {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 10px;
    margin-right: 15px;
    height: 80px;
  }
  .logo img {
    height: 80px;
    width: 150px;
  }
  header nav #navbarNav ul li a {
    font-size: 20px;
    padding: 0 10px;
    background-color: #000066;
  }
  .index {
    background-image: url("../img/indexMobilebg.jpg");
  }
  main h1 {
    margin-top: 40px;
    font-size: 50px;
  }
  main .sub1 {
    font-size: 30px;
  }
  main .italic {
    font-size: 35px;
    margin-top: 20px;
  }
  main section h3 {
    font-size: 25px;
  }
  main section .pagoGrid .pagoBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 200px;
    width: 250px;
  }
  main section .pagoGrid .pagoBox div figure figcaption {
    width: 125px;
    margin-left: 15px;
  }
  .texto {
    font-size: 20px;
  }
  .trabajosGrid #trabajos {
    width: 300px;
  }
  .trabajosGrid #trabajos a .servicio {
    width: 100px;
    height: 130px;
    margin: 10px;
  }
  .trabajosGrid #trabajos a .servicio figcaption {
    font-size: 13px;
  }
  #infoServicios .infoGrid .infoContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 500px;
    width: 350px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .infoContainer img {
    width: 280px;
    height: 180px;
  }
  #infoServicios .infoGrid .infoContainer .divInfo {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 300px;
    height: 300px;
  }
  #infoServicios .infoGrid .infoContainer .divInfo h2 {
    font-size: 25px;
  }
  #infoServicios .infoGrid .infoContainer .divInfo a {
    margin-bottom: 10px;
    padding: 5px 20px;
    border-radius: 25px;
  }
  .fotoServicios {
    margin-top: 15px;
    border: 3px solid black;
  }
  .bg {
    background-size: contain;
    background-attachment: fixed;
  }
  h1 {
    font-size: 35px;
  }
  #nosotros {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "reviews" "map";
  }
  .info {
    text-align: justify;
    font-size: 15px;
  }
  #nosotros .nosotrosGrid .nosotrosColumnas {
    width: 350px;
    height: auto;
  }
  #nosotros .nosotrosGrid .nosotrosColumnas h2 {
    margin-top: 0;
    font-size: 25px;
  }
  #nosotros .nosotrosGrid .nosotrosColumnas .reviewsDesktop {
    display: none;
  }
  #nosotros .nosotrosGrid .nosotrosColumnas .googleReviews figure .reviewsMobile {
    display: block;
    height: 150px;
    width: 240px;
  }
  #nosotros .nosotrosGrid .nosotrosColumnas .googleReviews .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 15px;
  }
  #nosotros .nosotrosGrid .nosotrosColumnas .googleReviews .buttons a {
    padding: 10px;
  }
  #nosotros .nosotrosGrid .nosotrosColumnas iframe {
    width: 300px;
    height: 310px;
  }
  .sub2 {
    font-size: 25px;
    margin-bottom: 0;
  }
  .portfolioGrid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: "first" "second" "third" "fourth";
  }
  .portfolioGrid .gridCarousels .carouselStyle {
    width: 350px;
  }
  .portfolioGrid .gridCarousels .carouselStyle h3 {
    font-size: 15px;
  }
  .form {
    -ms-grid-columns: 1fr 5fr 1fr;
        grid-template-columns: 1fr 5fr 1fr;
  }
  footer {
    height: 100px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "horarios" "redes";
  }
  footer .whatsappFooter {
    display: none;
  }
  footer .horariosFooter {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: horarios;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
  }
  footer .redesFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: redes;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .redesFooter figure {
    margin-bottom: 0;
  }
  .redesFooter img {
    height: 30px;
    width: 30px;
    margin: 10px;
  }
}
/*# sourceMappingURL=style.css.map */