.form{
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 8fr;
    grid-template-areas:
    ". title ."
    ". form .";

    h2{
        grid-area: title;
    }

    article{
        grid-area: form;
        @extend.box;
        padding: 10px;
        font-family: $generalFont;
        margin-bottom: 30px;
        color: $text;

        h3{
            margin-top: 5px;
        }

        label{
            font-weight: bold;
        }
    }
}
