.info{
    margin: 25px 0 35px;
    padding: 0 100px;
    font-family: $PTfont;
    font-size: 24px;
    text-align: center;
    color: black;
}

#nosotros{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "reviews map";

    .nosotrosGrid{
        display: flex;
        justify-content: center;
    
        .nosotrosColumnas{
            display: flex;
            flex-direction: column;
            border: 3px solid black;
            border-radius: 15px;
            padding: 20px;
            margin-bottom: 38px;
            background-color: $boxBGcolor;
            width: 500px;
            height: 350px;

            h2{
                text-align: center;
                font-size: 35px;
                margin-bottom: 20px;
            }

            .googleReviews{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                background-color: white;
                border-radius: 20px;

                figure{
                    padding: 15px;
                    margin-bottom: 0;
                }

                .buttons{
                    display: flex;
                    flex-direction: row;
                    padding-bottom: 30px;

                    a{
                        text-decoration: none;
                        color: white;
                        margin: 10px;
                        margin-bottom: 0;
                        padding: 15px;
                        border: 2px solid rgb(0, 81, 255);
                        background-color: rgb(44, 111, 255);
                        width: 180px;
                        text-align: center;
                        font-family: 'PT Sans Narrow', sans-serif;
                        font-weight: bold;

                        &:hover{
                            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3) inset, -3px -3px 5px rgba(0, 0, 0, 0.3) inset;
                        }
                    }
                }
            }

            iframe{
                border-radius: 20px;
                width: 450px;
            }
        }
    }

    .reviews{
        grid-area: reviews;
    }

    .map{
        grid-area: map;
    }
}
