.portfolioGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "first second"
    "third fourth";

    .gridCarousels{
        display: flex;
        justify-content: center;
        align-items: center;

        .carouselStyle{
            @extend.box;
            margin: 20px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 450px;

            .carousel{
                margin: 10px 0 20px;
                width: 300px;
                height: 400px;
            }
            

            h3{
                font-size: 20px;
                text-align: center;
                color: white;
            }
        }
    
        .first{
            grid-area: first;
        }

        .second{
            grid-area: second;
        }

        .third{
            grid-area: third;
        }

        .fourth{
            grid-area: fourth;
        }
    }
}
