.servicios{
    background-image: url("../img/servicesbg.jpg");
    background-size: contain;
    background-position: center;
    background-attachment: fixed;

    p{
        font-family: $generalFont;
        font-size: 25px;
        margin: 0;
        padding: 0;
        color: $text;
        text-align: center;
    }
    
    .trabajos{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr;
        grid-template-areas:
        ". trabajos .";
        scroll-margin-top: 200px;
        
        &--box{
            margin: 15px;
            @extend.box;
            grid-area: trabajos;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            width: 900px;
            
            &--servicio{
                text-decoration: none;
                color: black;
                @extend.box;
                background-color: rgba(255, 255, 255, 0.5);
                padding:10px;
                width: 120px;
                height: 140px;
                margin: 20px;
                transition: all 0.2s;
                
                &:hover{
                    background-color: rgba(255, 255, 255, 0.8);
                    transform: scale(1.1);
                    box-shadow: 1px 1px 5px 8px rgba(0, 0, 0, 0.25);
                }
                
                figure{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    justify-content: space-evenly;
                    height: 120px;
                }
                
                figcaption{
                font-family: $titleFont;
                font-size: 16px;
                }
            }
            
        }
    }

    .info{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas:
        ". info .";
        
        &--grid{
            grid-area: info;
            display: flex;
            flex-direction: column;
            margin-top: 50px;
            margin-bottom: 40px;
            
            &--box{
                color: $text;
                display: flex;
                background-color: $darkBoxColor;
                margin: 20px;
                height: 350px;
                width: 900px;
                justify-content: space-evenly;
                align-items: center;
                scroll-margin-top: 250px;
                
                &--list{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    width: 400px;
                    height: 300px;
                    
                    h2{
                        font-size: 30px;
                        text-align: center;
                        color: $text;
                    }
                    
                    ul{
                        li{
                            font-family: $generalFont;
                            margin-left: 20px;
                            font-size: 18px;
                            text-align: start;
                        }
                    }
                    
                    a{
                        color: $text;
                        border: 1px solid white;
                        border-radius: 15px;
                        padding: 5px;
                        background-color: black;
                        text-align: center;
                        font-family:  $generalFont;
                        text-decoration: none;
                        
                        &:hover{
                            font-weight: bold;
                            background-color: $darkerThemeColor;
                        }
                    }
                }
                
                &--picture{
                    border: 5px solid black;
                    margin: 0;
                }
            }
        }
    }

    .invert{
        flex-direction: row-reverse;
    }
}