$title: white;

$PTfont: 'PT Sans Narrow', sans-serif;
$BNfont: 'Bebas Neue', cursive;

$themeColor: rgb(0, 0, 102);
$darkerThemeColor: rgb(0, 0, 65);

$lightBoxColor: rgba(255, 255, 255, 0.3);
$darkBoxColor: rgba(0, 0, 0, 0.6);

$height1: 120px;