$text: white;

$titleFont: 'Bebas Neue', cursive;
$generalFont: 'PT Sans Narrow', sans-serif;

$themeColor: rgb(0, 0, 102);
$darkerThemeColor: rgb(0, 0, 60);

$lightBoxColor: rgba(255, 255, 255, 0.3);
$darkBoxColor: rgba(0, 0, 0, 0.6);

$height1: 60px;