$title: black;

$PTfont: 'PT Sans Narrow', sans-serif;
$BNfont: 'Bebas Neue', cursive;

$themeColor: rgb(0, 0, 102);
$darkerThemeColor: rgb(0, 0, 65);

$boxBGcolor: rgba(0, 0, 0, 0.1);
$darkerBoxBGcolor: rgba(0, 0, 0, 0.6);

$height1: 120px;